---
title: Heart of Gold
---

= section_widget "Heart of Gold", class: 'hero', tag: :h1

= section_widget "Menu" do
  %p All of our items are made gluten-free, with full hearts.

  .menu
    = menu_card_widget "Bagels", price: "$6" do |c|
      = c.item "plane jane" do
        plush, plain, simple and smart
      = c.item "tempting thyme" do
        fragrant thyme, black pepper and asiago
      = c.item "zesty berry" do
        berry zest, lemon zest, and more berry zest
      = c.item "rise and shine" do
        espresso, cinnamon infused, with a brush of honey
      = c.item "rosemary bliss" do
        fresh rosemary, sea salt, with crisp cheddar

    .menu-section
      %h3 Shortbread
      %p shortbread millionaire: dipped in salted caramel, coated in chocolate ganache
      %p warm meadow: infused with lavender florets, lemon zest, and mint
      %p baby love: mounds of shortbread with folds of milk chocolate
      %p five o'clock rock: smoky bourbon and cinnamon infused
      %p snack thyme: fresh thyme, with garlic salt, and parmesan

    .menu-section
      %h3 Crackers
      %p fire roasted red pepper with roasted garlic
      %p chickpea, fragrant curry and coriander
      %p lime, rainbow beet, and black pepper
      %p sweet potato with herbs and cheddar

    .menu-section
      %h3 Muffins
      %p carrot
      %p apple fritter
      %p red berries

    .menu-section
      %h3 Cupcake
      %p celebration
      %p red velour
      %p fudge

    .menu-section
      %h3 Scones
      %p salted butter
      %p vanilla bean
      %p lemon berry

= section_widget "Stay" do
  %p Stay a while in our café!  Food brings people together, so stay a while and make a new friend!


= section_widget "This Month’s Specials" do
  %h3 Bagel
  %h3 Shortbread
  %h3 Muffin
  %h3 Cracker
  %h3 Feature Coffee

= section_widget "Catering" do
  %p See all of our offerings under the menu

= section_widget "Play" do
  %p Play away in our kitchen! Our food philosophy is that we should experiment, learn and share with others.
  %p We host Social Capital events where we have an Ottawa gem coming in to teach and share their special insights and favourite recipes with you.  Join us as an individual or as a group in the kitchen.
  %p You are also free to explore the kitchen on your own, or with a group and create something of your own.

= section_widget "Our Story" do
  %p Our name is inspired by the wonderful people we continue to meet everyday, who truly have pure gold in their hearts and to be kind and enjoy a delightful foods. In addition to being a Neil Young favourite

= section_widget "Connect with us" do
  &nbsp;

= section_widget "Find us" do
  &nbsp;
