---
title: Heart of Gold
---

= section_widget "Heart of Gold", class: 'hero', tag: :h1

= section_widget "Menu" do
  %p All of our items are made gluten-free, with full hearts.

  .menu
    = menu_card_widget "Bagels" do |c|
      = c.item "plane jane" do
        plush, plain, simple and smart
      = c.item "tempting thyme" do
        fragrant thyme, black pepper and asiago
      = c.item "zesty berry" do
        berry zest, lemon zest, and more berry zest
      = c.item "rise and shine" do
        espresso, cinnamon infused, with a brush of honey
      = c.item "rosemary bliss" do
        fresh rosemary, sea salt, with crisp cheddar

    = menu_card_widget "Shortbread" do |c|
      = c.item "shortbread millionaire" do
        dipped in salted caramel, coated in chocolate ganache
      = c.item "warm meadow" do
        infused with lavender florets, lemon zest, and mint
      = c.item "baby love" do
        mounds of shortbread with folds of milk chocolate
      = c.item "five o'clock rock" do
        smoky bourbon and cinnamon infused
      = c.item "snack thyme" do
        fresh thyme, with garlic salt, and parmesan

    = menu_card_widget "Crackers" do |c|
      = c.item "red and roasted" do
        fire roasted red pepper with roasted garlic
      = c.item "hollah fo masala" do
        chickpea, fragrant curry and coriander
      = c.item "hippy dippy" do
        lime, rainbow beet, and black pepper
      = c.item "herb and swerve" do
        sweet potato with herbs and cheddar

-#
    = menu_card_widget "Muffins" do |c|
      = c.item "carrot"
      = c.item "apple fritter"
      = c.item "red berries"

    = menu_card_widget "Cupcake" do |c|
      = c.item "celebration"
      = c.item "red velour"
      = c.item "fudge"

    = menu_card_widget "Scones" do |c|
      = c.item "salted butter"
      = c.item "vanilla bean"
      = c.item "lemon berry"

-#= section_widget "Stay" do
  %p Stay a while in our café!  Food brings people together, so stay a while and make a new friend!

-#= section_widget "This Month’s Specials" do
  %h3 Bagel
  %h3 Shortbread
  %h3 Muffin
  %h3 Cracker
  %h3 Feature Coffee

= section_widget "Catering" do
  %p See all of our offerings under the menu

-#= section_widget "Play" do
  %p Play away in our kitchen! Our food philosophy is that we should experiment, learn and share with others.
  %p We host Social Capital events where we have an Ottawa gem coming in to teach and share their special insights and favourite recipes with you.  Join us as an individual or as a group in the kitchen.
  %p You are also free to explore the kitchen on your own, or with a group and create something of your own.

= section_widget "Our Story" do
  %p I’ve always been curious about food, loved baking for friends and was always willing to experiment with new ingredients.  Having so many food allergies, I decided to make my own gluten free bagels, cookies and crackers. After a lot of encouragement from the amazing people in my life, out was born Heart of Gold, a name that defines all of those around us who share in our joys and happiness everyday. Ottawa has become a hotspot with great food, great people, and great experiences, so let’s eat together soon ☺

= section_widget "Connect with us" do
  &nbsp;

-#= section_widget "Find us" do
  &nbsp;
